# name: Docs

# # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
# permissions:
#   contents: read
#   pages: write
#   id-token: write

# on:
#   push:
#     branches: # branch to trigger deployment
#       - main
#       - features/cicd
#   # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

# concurrency:
#   group: "pages"
#   cancel-in-progress: false

# jobs:
#   pages:
#     runs-on: ubuntu-20.04
#     environment:
#       name: github-pages
#       url: ${{ steps.deployment.outputs.page_url }}
#     permissions:
#       pages: write
#       id-token: write
#     steps:
#       - id: deployment
#         uses: sphinx-notes/pages@v3
